

body{
    background-color: #FFE4B5; /* Le fond de la page sera noir */
    color: black; /* Le texte de la page sera blanc */
}






   

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            




h1{
  font-family: "Anton SC", sans-serif;

}
 .W{
    color: purple;

 }


h2{
   font-family: "Playwrite DE VA Guides", cursive;
 }
  
  .P{
    color : red;
 }

 .N{
  color: hotpink;


}

.S{
  color: blueviolet;
}


S
